<div class="resume_item resume_education">
  <div class="title">
    <p class="bold">Education</p>
  </div>
  <ul>
    <li>
      <div class="date">2025 - oggi</div>
      <div class="info">
        <p class="semi-bold">Master Degree in Computer Science - Aarhus University</p>
        <p>Master's degree program in Computer Science at Aarhus University</p>
      </div>
    </li>
    <li>
      <div class="date">2023 - 2025</div>
      <div class="info">
        <p class="semi-bold">Bachelor Degree in Computer Science - Unibo</p>
        <p>Bachelor's degree program in Computer Science at the University of Bologna</p>
      </div>
    </li>
    <li>
      <div class="date">2025</div>
      <div class="info">
        <p class="semi-bold">Cyberchallenge</p>
        <p>Intensive training program on cybersecurity at the Bologna location</p>
      </div>
    </li>
    <li>
      <div class="date">2016 - 2022</div>
      <div class="info">
        <p class="semi-bold">Computer Technician Diploma</p>
        <p>Study program at I.I.S. Aldini Valeriani high school</p>
      </div>
    </li>
    <li>
      <div class="date">2020 - 2021</div>
      <div class="info">
        <p class="semi-bold">CISCO CCNA Certification</p>
        <p><a href="https://www.cisco.com/"> CISCO System Inc.</a></p>
      </div>
    </li>
    <li>
      <div class="date">2019 - 2020</div>
      <div class="info">
        <p class="semi-bold">CISCO IT Essentials Certification</p>
        <p><a href="https://www.cisco.com/"> CISCO System Inc.</a></p>
      </div>
    </li>
    <li>
      <div class="date">2019</div>
      <div class="info">
        <p class="semi-bold">High-Risk Security Course Certificate</p>
        <p>At I.I.S. Aldini Valeriani</p>
      </div>
    </li>
    <li>
      <div class="date">2020 - 2021</div>
      <div class="info">
        <p class="semi-bold">OLINFO Competitive Programming Course</p>
        <p>Course for competitive programming at ITI Aldini Valeriani high school.</p>
      </div>
    </li>
    <li>
      <div class="date">Ottobre 2021</div>
      <div class="info">
        <p class="semi-bold">Angular Programming Course - O'Reilly</p>
        <p>Online programming course for Angular language during the PCTO period at Cineca</p>
      </div>
    </li>
  </ul>
</div> 