<div class="resume_left">
  <div class="resume_profile">
    <!--img src="./images/profile.jpg" alt="profile_pic" -->
  </div>
  <div class="resume_content">
    <div class="resume_item resume_info">
      <div class="title">
        <p class="bold">Diego Barbieri</p>
        <p class="regular">Computer Scientist - Ethical Hacker</p>
      </div>
      <ul>
        <li>
          <div class="icon">
            <i class="ph ph-house"></i>
          </div>
          <div class="data">Bologna, Italy > Aarhus, Denmark</div>
        </li>
        <li>
          <div class="icon">
            <i class="ph ph-at"></i>
          </div>
          <div class="data">
            <a class="follow-link" href="mailto:diego.barbieri03@libero.it?subject=Contact%20email">diego.barbieri03@libero.it</a>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="ph ph-github-logo"></i>
          </div>
          <div class="data">
            <a href="https://github.com/Diebbo" class="follow-link">Diebbo</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_skills">
      <div class="title">
        <p class="bold">Tech Stack</p>
      </div>
      <ul class="skills_list">
        <li>
          <div class="technology">
            <div class="title">Web Dev</div>
            <div class="languages">HTML, CSS, JS, Angular, React, Next.js, Tailwind</div>
          </div>
        </li>
        <li>
          <div class="technology">
            <div class="title">General Purpose</div>
            <div class="languages">C, C++, Java, Python</div>
          </div>
        </li>
        <li>
          <div class="technology">
            <div class="title">Tools</div>
            <div class="languages">Git, GitHub, Docker, Linux, Vim</div>
          </div>
        </li>
        <li>
          <div class="technology">
            <div class="title">Database</div>
            <div class="languages">MySQL, MongoDB</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_social">
      <div class="title">
        <p class="bold">Social</p>
      </div>
      <ul>
        <li>
          <div class="icon">
            <i class="ph ph-instagram-logo"></i>
          </div>
          <div class="data">
            <p class="semi-bold">Instagram</p>
            <p>@Dieg.eg0</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="ph ph-linkedin-logo"></i>
          </div>
          <div class="data">
            <p class="semi-bold">LinkedIn</p>
            <p>Diego Barbieri</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> 