<div class="resume_item resume_work">
  <div class="title">
    <p class="bold">Work Experience</p>
  </div>
  <ul>
    <li>
      <div class="date">Maggio 2020</div>
      <div class="info">
        <p class="semi-bold">Internship at NSI</p>
        <p>Experience in customer service, with applications in database management languages</p>
      </div>
    </li>
    <li>
      <div class="date">Ottobre 2021</div>
      <div class="info">
        <p class="semi-bold">Internship at Cineca</p>
        <p>Introductory activities for using the JS framework - Angular. Development of a basic API in Node.js-Express</p>
      </div>
    </li>
    <li>
      <div class="date">2024</div>
      <div class="info">
        <p class="semi-bold">Full Stack Developer at Logica Srl</p>
        <p>Development of backend management software in C# and frontend in Angular</p>
        <p>Study of logging solutions and error management through Loki, Grafana and Prometheus</p>
        <p>Project management with interns</p>
      </div>
    </li>
  </ul>
</div> 